API_BASE_URL=http://localhost:3000
PORT=3000
SESSION_SECRET=123456
NODE_ENV=local
GA4_ENABLED=true
UA_ENABLED=false
UNIVERSAL_ANALYTICS_GTM_CONTAINER_ID="GTM-TK92W68"
GOOGLE_ANALYTICS_4_GTM_CONTAINER_ID="GTM-KD86CMZ"
ANALYTICS_DATA_SENSITIVE=true
GA4_PAGE_VIEW_ENABLED=true
GA4_FORM_RESPONSE_ENABLED=true
GA4_FORM_ERROR_ENABLED=true
GA4_FORM_CHANGE_ENABLED=true
GA4_NAVIGATION_ENABLED=true
GA4_SELECT_CONTENT_ENABLED=true
LANGUAGE_TOGGLE_DISABLED=false
FRONTEND_DOMAIN=localhost
DEVICE_INTELLIGENCE_ENABLED=false
MAY_2025_REBRAND_ENABLED=true
USE_PINO_LOGGER=true