{% extends "base-page.njk" %}
{% set hmpoPageKey = "sessionEnded" %}

{% set isPageDataSensitive = false %}
{% set statusCode = '200' %}
{% set pageTitleKey = "pages.sessionEnded.title" %}
{% set contentID = "005" %}
{% set taxLevel2 = 'session-ended' %}
{% set isPageDynamic = false %}
{% set loggedInStatus = true %}

{% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate(hmpoPageKey+'.title', { default: [] }) | safe }}
    </h1>

    {% from "hmpo-html/macro.njk" import hmpoHtml %}
    {{ hmpoHtml(translate(hmpoPageKey + ".content", { default: [] })) }}
{% endblock %}

{% block scripts %}
    {{ super ()}}
{% endblock %}
